* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color1: #000000;
  --color2: #ffffff;
  --color3: #d02561;
  --color4: #04091a;
  --color5: #707070;
}

body {
  font-family: "Space Grotesk", sans-serif;
  overflow-x: hidden;
}

html {
  font-size: 16px;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

.btn {
  border: 0;
  padding: 0.5rem 1rem;
  background: var(--color3);
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  background: var(--color2);
  color: var(--color3);
}

a .btn {
  color: var(--color2);
}

.red {
  color: var(--color3);
}

.loading {
  width: 100%;
  height: 100vh;
  background: var(--color1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

/* Accueil */
.hero {
  height: 100vh;
  display: flex;
  align-items: center;
}

.hero .heroD,
.hero .heroG {
  width: 50%;
  height: 100%;
}

.hero .heroD {
  background-image: url("img/2.1.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.hero .heroD2 {
  background-image: url("img/seal.png");
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero .heroG {
  background: var(--color1);
  color: var(--color2);
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero .heroG div {
  width: 80%;
}

.hero .heroG div h1 {
  font-size: 3rem;
}

.hero .heroG div p {
  margin-top: 1rem;
  margin-bottom: 2rem;
  line-height: 1.5rem;
}

.hero .logo {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: var(--color2);
  font-size: 2rem;
  font-weight: 700;
}

.hero .socials {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

.hero .socials ul {
  list-style: none;
  font-size: 1.5rem;
}

.hero .socials ul li {
  margin-left: 1rem;
  background: var(--color1);
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 1.5rem;
}

.hero .socials ul li a {
  color: var(--color3);
  transition: color 0.5s;
}

.hero .socials ul li a:hover {
  color: var(--color2);
}

.hero .socials ul {
  display: flex;
}

/* Discord */
.discord {
  background: var(--color2);
  padding: 4rem 0;
  text-align: center;
}

.discord h2 {
  margin-bottom: 1rem;
  font-size: 2rem;
}

/* RoadMap */
.roadmap {
  background: var(--color1);
  padding: 4rem 0;
  color: var(--color2);
}

.roadmap h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.roadmap .bloc {
  background: var(--color4);
  margin-bottom: 3rem;
  padding: 1rem;
  position: relative;
  margin-left: 2px;
}

.roadmap h4 {
  margin: 1rem 0;
}

.roadmap p {
  line-height: 1.5rem;
}

.roadmap .number {
  position: absolute;
  top: -1rem;
  left: calc(1rem - 1px);
  background: var(--color3);
  padding: 1rem;
  border-radius: 50%;
  width: 2rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roadmap .number.off {
  background: var(--color2);
  color: var(--color3);
}

.roadmap .container {
  position: relative;
}

.line {
  position: absolute;
  left: 3rem;
  height: 100%;
  width: 2px;
  background: var(--color3);
  top: 30px;
}

/* Team */
.team {
  padding: 4rem 0;
}

.team h2 {
  margin-bottom: 2rem;
  font-size: 2rem;
  text-align: center;
}

.team .team__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.team .member {
  width: 31%;
}

.team .member img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.team .member h4 {
  margin-bottom: 1rem;
  text-align: center;
  font-size: 1.5rem;
}

.team .member .job {
  color: var(--color5);
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
}

.team__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* Footer */
footer {
  background: var(--color1);
  color: var(--color2);
  padding: 1rem 0;
}

.footer__flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer__flex ul {
  list-style: none;
}

.footer__flex ul li a {
  color: var(--color2);
  text-decoration: none;
}
#side-bar {
  position: absolute;
  width: 230px;
  height: 100%;
  background: var(--color3);
  top: 0;
  right: -230px;
  transition: 0.5s ease-out;
  z-index: 4;
}
.toggle-btn {
  position: absolute;
  top: 30px;
  right: 260px;
  cursor: pointer;
  height: 50px;
  width: 50px;
}
.toggle-btn span {
  width: 60px;
  height: 10px;
  border-radius: 5px;
  background: var(--color3);
  display: block;
  margin-top: 4px;
  transition: 0.3s ease;
}
.nav li {
  color: #292929;
  list-style: none;
  font-size: 2rem;
  cursor: pointer;
  padding-right: 10px;
  padding-bottom: 30px;
  padding-top: 30px;
  text-align: right;
}
.nav li:hover {
  background: #292929;
  color: #fcfcfb;
}
#side-bar.active {
  right: 0;
}
.active span {
  position: absolute;
}
.active span:nth-child(1) {
  transform: rotate(45deg);
}
.active span:nth-child(2) {
  opacity: 0;
}
.active span:nth-child(3) {
  transform: rotate(-45deg);
}
.active ~ .content {
  opacity: 0.7;
}

/* Responsive */
@media all and (max-width: 767px) {
  .hero .heroD {
    display: none;
  }

  .hero .heroD,
  .hero .heroG {
    width: 100%;
    height: 100%;
  }

  .hero .heroG div h1 {
    font-size: 2rem;
  }

  .team__flex {
    flex-direction: column;
  }

  .team__flex .member {
    margin-bottom: 3rem;
  }

  .team__flex .member:last-child {
    margin-bottom: 0;
  }

  .team .member {
    width: 100%;
  }
}
.mosaic {
  width: 1000px;
  height: 1000px;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-areas:
    "z1 z2 z3 z4"
    "z5 z6 z7 z8"
    "z9 z10 z11 z12"
    "z13 z14 z15 z16";
}

#mc1 {
  background: url(./img/green.png) bottom/cover;
  grid-area: z5;
  border: 6px solid var(--color1);
  align-items: center;
  text-align: center;
}
#mc2 {
  background: var(--color2);
  color: var(--color4);
  grid-area: z2;
  border: 6px solid var(--color1);
  align-items: center;
  text-align: center;
}
#mc3 {
  background: var(--color3);
  grid-area: z12;
  border: 6px solid var(--color1);
  align-items: center;
  text-align: center;
}
#mc4 {
  background: var(--color4);
  grid-area: z6;
  border: 6px solid var(--color1);
  align-items: center;
  text-align: center;
}
#mc5 {
  background: url(./img/green.png) bottom/cover;
  grid-area: z8;
  border: 6px solid var(--color1);
  align-items: center;
  text-align: center;
}
#mc6 {
  background: var(--color4);
  grid-area: z13;
  border: 6px solid var(--color1);
  align-items: center;
  text-align: center;
}
#mc7 {
  background: var(--color3);
  grid-area: z4;
  border: 6px solid var(--color1);
  align-items: center;
  text-align: center;
}
#mc8 {
  background: var(--color3);
  grid-area: z10;
  border: 6px solid var(--color1);
  align-items: center;
  text-align: center;
}
#mc9 {
  background: var(--color2);
  color: var(--color4);
  grid-area: z7;
  border: 6px solid var(--color1);
  align-items: center;
  text-align: center;
}

#mc1 h2 {
  font-size: 2rem;
  margin-top: 40px;
}
#mc2 h2 {
  font-size: 2rem;
  margin-top: 40px;
}
#mc3 h2 {
  font-size: 2rem;
  margin-top: 40px;
}
#mc4 h2 {
  font-size: 2rem;
  margin-top: 40px;
}
#mc5 h2 {
  font-size: 2rem;
  margin-top: 40px;
}
#mc6 h2 {
  font-size: 2rem;
  margin-top: 40px;
}
#mc7 h2 {
  font-size: 2rem;
  margin-top: 40px;
}
#mc8 h2 {
  font-size: 2rem;
  margin-top: 40px;
}
#mc9 h2 {
  font-size: 2rem;
  margin-top: 40px;
}
.logo {
  background: url(./img/logo.png) center/cover;
  width: 180px;
  height: 90px;
}
a {
  text-decoration: none;
}
a:visited {
  color: var(--color1);
}
